.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 20px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: #414141;
	transition: all 0.3s ease-in-out;
}

.menu__item:hover {
	color: #00649a;
}

.menu__counter {
	font-weight: 600;
	font-size: 12px;
	line-height: 28px;
	border: 1px solid var(--black);
	border-radius: 50%;
	padding: 0 10px;
}

@media (max-width: 400px) {
	.header {
		margin-top: 10px;
		flex-direction: column;
	}
	.menu {
		margin-top: 15px;
	}
}
